@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

:root {
  --color-white: #fff;
  --color-black: #000;

  --color-grey-dark-1: rgb(79, 80, 78);
  --color-grey-dark-2: #4f504e72;

  --color-green-light-1: #28e603;
  --color-green-light-2: #0dd377;
  --color-green-dark: #066036;
  --color-red-dark: #ec0413;
  --color-blue-dark-1: #090987;
  --color-blue-dark-2: #0d37d3;
}

a > img.logo {
  filter: invert(1);
}

span.icon-plus {
  font-weight: 200;
  font-size: 1.5rem;
  position: relative;
}

span.icon-plus::after {
  content: "+";
  font-size: 2rem;
  position: absolute;
  top: -0.5rem;
}

span.icon-arrow-down:hover {
  text-shadow: 0px 0px 10px var(--color-red-dark);
}

span.icon-arrow-up:hover {
  text-shadow: 0px 0px 10px var(--color-green-light-1);
}

span.icon-arrow-up,
span.icon-arrow-down {
  color: var(--color-grey-dark-1);
}

span.icon-arrow-up::after {
  content: "▲";
}

span.icon-arrow-down::after {
  content: "▼";
}

span.icon-arrow-up.arrow-selected {
  color: var(--color-green-light-1);
  text-shadow: none;
}

span.icon-arrow-down.arrow-selected {
  color: var(--color-red-dark);
  text-shadow: none;
}

span.post-vote-number {
  padding-left: 0.3rem;
  padding-right: 0.7rem;
  color: var(--color-grey-dark-1);
}

span.post-vote-number::after {
  content: "";
  background: var(--color-grey-dark-2);
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  height: 0.8rem;
  width: 1px;
}

span.icon-comment {
  transform: translateY(0.2rem);
}

span.icon-comment::after {
  content: url(/images/comment.svg);
}

span.post-comment-number {
  color: var(--color-grey-dark-1);
}

span.reply-btn {
  color: var(--color-grey-dark-1);
}

span.icon-reply {
  transform: translateY(0.1rem);
}

span.icon-reply::after {
  content: url(/images/chevron-right.svg);
}

span.icon-reply.icon-reply__collapse {
  transform: rotate(270deg);
}

span.icon-reply.icon-reply__collapse::after {
  transform: rotate(270deg);
}

span.icon-options {
  position: absolute;
  top: 50%;
  left: calc(50% - 1.5px);
  user-select: none;
}

span.icon-options,
span.icon-options::before,
span.icon-options::after {
  width: 3px;
  height: 3px;
  background-color: var(--color-grey-dark-1);
}

span.icon-options::before,
span.icon-options::after {
  content: "";
  left: 0;
  position: absolute;
}

span.icon-options::before {
  top: -0.3rem;
}

span.icon-options::after {
  bottom: -0.3rem;
}

span.icon-post-edit {
  transform: scale(0.7) translateY(0.2rem);
  filter: contrast(1%);
}

span.icon-post-edit::after {
  content: url(/images/edit.svg);
}

span.icon-post-delete {
  transform: scale(0.7) translateY(0.2rem);
  filter: contrast(10%);
}

span.icon-post-delete::after {
  content: url(/images/delete.svg);
}

.options-menu {
  position: relative;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

label.icon-options-menu {
  width: inherit;
  height: inherit;
}

.options-menu .options-menu__drawer {
  outline: none;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  background-color: var(--color-white);
  left: -6rem;
  top: -200%;
}

.options-menu input[type="checkbox"] {
  display: none;
  outline: none;
}

.options-menu input[type="checkbox"]:checked ~ .options-menu__drawer {
  visibility: visible;
  opacity: 1;
}

.border-color--red:hover {
  border-left-color: var(--color-red-dark);
}

.border-color--green:hover {
  border-left-color: var(--color-green-light-2);
}

.border-color--blue:hover {
  border-left-color: var(--color-blue-dark-2);
}
