<.simple_form :let={f} for={@changeset} action={@action} as="post">
  <.input field={f[:title]} type="text" label="Title" />
  <.input field={f[:body]} type="text" label="Body" type="textarea" />
  <:actions>
    <.button>Save Post</.button>
  </:actions>
</.simple_form>
