<.header>
  <%= @post.title %>
  <:actions>
    <.link href={~p"/posts/#{@post.slug}/edit"}>
      <.button>Edit post</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @post.title %></:item>
  <:item title="Slug"><%= @post.slug %></:item>
  <:item title="Body"><%= @post.body %></:item>
</.list>

<.back navigate={~p"/posts"}>Back to posts</.back>
